{% extends "base.html" %}

{% block content %}
<h1>Lista de Músicas</h1>
{% if lista_musicas %}
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Titulo</th>
        <th scope="col">Artista</th>
        <th scope="col">Álbum</th>
        <th scope="col">Data de Lançamento</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
        
    <tbody>
    {% for musica in lista_musicas %}
      <tr>
        <td>{{ musica.id_musica }}</td>
        <td>{{ musica.titulo }}</td>
        <td>{{ musica.artista.nome }}</td>
        <td>{{ musica.album.titulo }}</td>
        <td>{{ musica.album.date }}</td>
        <td><a href="{{ url_for('update_musica', musica_id=musica.id_musica) }}"><button class="right-align btn btn-info">Editar</button></a></td>
        <td><a href="{{ url_for('delete_musica', musica_id=musica.id_musica) }}"><button class="right-align btn btn-danger">Deletar</button></a></td>
      </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
        <p>Nenhuma música adicionada ao banco de dados.</p>
{% endif %}
  <a href="{{url_for('add_musica')}}"><button type="button" class="btn btn-primary">Adicionar Música</button></a>
{% endblock %}