{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Atualizando {{album.titulo}} </h1>
    <form method="POST" action="/update_album/{{album.id_album}}">
        <div class="form-group">
            <label for="titulo">Título</label>
            <input type="text" class="form-control" id="titulo" name="titulo" required>
        </div>
        <div class="form-group">
            <label for="faixas">Número de Faixas</label>
            <input type="number" class="form-control" id="faixas" name="faixas" required>
        </div>
        <div class="form-group">
            <label for="compositor">Artista</label>
            <input type="text" class="form-control" id="artista" name="artista" required>
        </div>
        <div class="form-group">
            <label for="gravadora">Gravadora</label>
            <input type="text" class="form-control" id="gravadora" name="gravadora" required>
        </div>
        <div class="form-group">
            <label for="data">Data de Lançamento</label>
            <input type="date" class="form-control" id="data" name="data" required>
        </div>
    </br>
        <button type="submit" class="btn btn-primary btn-block">Atualizar</button>
    </form>
    <p class="mt-4 text-center">
        Preencha o formulário acima para atualizar o álbum {{album.titulo}}.
    </p>
</div>
{% endblock %}